<div class="container-fluid col-sm-8">
  <h5>
    {{ 'PROPERTY_DETAIL_PAGE' | translate }}
  </h5><br/>
  <div class="row" *ngIf="(propertyDetail | json) != '{}'">
    <div class="col-sm-4">
      <img src="../../../assets/images/property_image.png" width="100" />
    </div>
    <div class="col-sm-8">
      <h6>{{propertyAddress}}</h6>
    </div>
  </div>
  <br/>
  <table class="table table-striped" *ngIf="(propertyDetail | json) != '{}'">
    <tr>
      <th>{{ 'CREATE_PROPERTY_TOKEN_OWNER_NAME' | translate }}</th>
      <td>{{propertyDetail.ownerName}}</td>
    </tr>
    <tr>
      <th>{{ 'CREATE_PROPERTY_TOKEN_OWNER_EMAIL' | translate }}</th>
      <td>{{propertyDetail.ownerEmail}}</td>
    </tr>
    <tr>
      <th>{{ 'CREATE_PROPERTY_TOKEN_OWNER_WALLET_ADDRESS' | translate }}</th>
      <td><a href="{{ropstenURL}}{{propertyDetail.ownerWalletAddress}}">{{propertyDetail.ownerWalletAddress}}</a></td>
    </tr>
    <tr>
      <th>{{ 'CREATE_PROPERTY_TOKEN_DEED_URL' | translate }}</th>
      <td>{{propertyDetail.deedURL}}</td>
    </tr>
  </table>
  <h6 class="alert alert-danger" *ngIf="propertyDetailsViewState.isFinishedWithError">{{propertyDetailsViewState.error}}</h6>
  <button *ngIf="(propertyDetail | json) != '{}'" type="button" class="btn btn-primary float-left" (click)="getDeedHistory(propertyDetail.propertyAddress, propertyDetail.index+1)" [attr.disabled]='propertyDetailsViewState.isLoading || !propertyDetail.nextIndexExist ? "" : null'>{{ 'PREVIOUS' | translate }}</button>
  <button *ngIf="(propertyDetail | json) != '{}'" type="button" class="btn btn-primary float-right" (click)="getDeedHistory(propertyDetail.propertyAddress, propertyDetail.index-1)" [attr.disabled]='propertyDetailsViewState.isLoading || !propertyDetail.previousIndexExist ? "" : null'>{{ 'NEXT' | translate }}</button>
</div>
<div class="clearfix"></div>
