<div class="container-fluid col-sm-8">
  <h5>
    Property Detail Page
  </h5><br/>
  <div class="row" *ngIf="propertyDetail">
    <div class="col-sm-4">
      <img src="../../../assets/images/property_image.png" width="100" />
    </div>
    <div class="col-sm-8">
      <h6>{{propertyAddress}}</h6>
    </div>
  </div>
  <br/>
  <table class="table table-striped" *ngIf="propertyDetail">
    <tr>
      <th>{{ 'CREATE_PROPERTY_TOKEN_OWNER_NAME' | translate }}</th>
      <td>{{propertyDetail.ownerName}}</td>
    </tr>
    <tr>
      <th>{{ 'CREATE_PROPERTY_TOKEN_OWNER_EMAIL' | translate }}</th>
      <td>{{propertyDetail.ownerEmail}}</td>
    </tr>
    <tr>
      <th>{{ 'CREATE_PROPERTY_TOKEN_OWNER_WALLET_ADDRESS' | translate }}</th>
      <td><a href="https://ropsten.etherscan.io/address/{{propertyDetail.ownerWalletAddress}}">{{propertyDetail.ownerWalletAddress}}</a></td>
    </tr>
  </table>
  <h6 class="alert alert-danger" *ngIf="propertyDetailError">{{ 'INVALID_PROPERTY_ADDRESS_ERROR' | translate }}</h6>
</div>
